In [1]:
import mysql.connector
import numpy as np

In [7]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    passwd="123456",
    database="reversi"
)
mycursor = mydb.cursor()

In [21]:
sql = 'select *  from reversi where id>=2 and id <= 101'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [22]:
match_data[0]

(2,
 'UCT',
 'GREEDY_MINPOS',
 'WHITE',
 24,
 40,
 1.0,
 100,
 2.0,
 0,
 0,
 0.0,
 '○ ○ ○ ○ ● ● ● ● ○ ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ● ● ● ● ● ○ ● ○ ○ ● ● ○ ● ○ ● ○ ● ○ ● ○ ○ ○ ○ ● ● ● ● ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ○ ○')

In [24]:
for i in range(8):
    print(match_data[0][-1].split(' ')[i*8:i*8+8])

['○', '○', '○', '○', '●', '●', '●', '●']
['○', '○', '○', '○', '○', '○', '○', '●']
['○', '○', '○', '●', '●', '●', '●', '●']
['○', '●', '○', '○', '●', '●', '○', '●']
['○', '●', '○', '●', '○', '●', '○', '○']
['○', '○', '●', '●', '●', '●', '○', '○']
['○', '○', '●', '●', '○', '○', '○', '○']
['○', '○', '●', '○', '○', '○', '○', '○']

In [26]:
len([m for m in match_data if m[3]=='BLACK']) / len(match_data)

0.88

In [31]:
sql = 'select *  from reversi where id>=1275 and id <= 1307'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [32]:
match_data[0]

(1275,
 'UCT',
 'UCT_EXPERT',
 'WHITE',
 21,
 43,
 1.0,
 100,
 2.0,
 1,
 100,
 2.0,
 '● ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ○ ● ○ ○ ● ○ ○ ○ ○ ● ○ ○ ○ ● ○ ○ ○ ● ● ● ○ ○ ● ● ○ ● ● ● ● ● ● ●')

In [33]:
len([m for m in match_data if m[3]=='WHITE']) / len(match_data)

0.8181818181818182

In [34]:
sql = 'select *  from reversi where id>=1308 and id <= 1337'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [35]:
match_data[0]

(1308,
 'GREEDY_MAXSCORE',
 'UCT_EXPERT',
 'WHITE',
 11,
 53,
 1.0,
 100,
 2.0,
 1,
 100,
 2.0,
 '○ ○ ○ ○ ○ ○ ● ○ ○ ○ ● ○ ○ ○ ● ● ○ ○ ● ● ● ○ ○ ● ○ ○ ○ ● ● ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○')

In [36]:
len([m for m in match_data if m[3]=='WHITE']) / len(match_data)

0.8666666666666667

In [52]:
sql = 'select *  from reversi where id>=1338 and id <= 1377'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [53]:
match_data[0]

(1338,
 'UCT_EXPERT',
 'UCT_EXPERT',
 'WHITE',
 19,
 45,
 3.0,
 100,
 2.0,
 1,
 100,
 2.0,
 '○ ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ○ ● ● ● ● ○ ○ ○ ○ ● ● ● ○ ○ ○ ○ ○ ● ● ● ○ ● ○ ● ● ○ ○ ● ○ ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ○ ○ ● ● ● ○ ○ ○ ○ ○ ○ ○ ○ ○')

In [54]:
len([m for m in match_data if m[3]=='BLACK']) / len(match_data)

0.175

In [49]:
sql = 'select *  from reversi where id>=1378 and id <= 1417'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [50]:
match_data[0]

(1378,
 'UCT',
 'UCT',
 'WHITE',
 25,
 39,
 1.0,
 100,
 1.0,
 1,
 100,
 10.0,
 '○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ● ○ ● ● ○ ● ○ ○ ● ○ ● ○ ● ● ○ ○ ● ● ○ ○ ○ ● ○ ○ ● ○ ● ● ● ● ● ○ ● ● ● ● ● ● ● ○ ○ ○ ○ ○ ○ ○ ○')

In [51]:
len([m for m in match_data if m[3]=='BLACK']) / len(match_data)

0.45

In [8]:
sql = 'select *  from reversi where id>=1418 and id <= 1457 or id>=1478 and id <= 1487 or id>=1608 and id <= 1637  or id>=1698 and id <= 1727'
mycursor.execute(sql)
match_data = mycursor.fetchall()
print(match_data[0])
len([m for m in match_data if m[3]=='BLACK']) / len(match_data)

(1418, 'UCT', 'UCT', 'WHITE', 22, 42, 1.0, 100, 2.0, 1, 100, 0.0, '○ ○ ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ● ● ● ○ ○ ○ ○ ○ ● ● ● ○ ● ○ ○ ○ ○ ● ● ○ ● ○ ● ● ○ ● ● ○ ○ ○ ● ○ ● ● ○ ○ ○ ● ○ ○ ● ● ○ ○ ○ ○ ○ ○ ○ ○ ○')

0.4636363636363636

In [9]:
sql = 'select *  from reversi where id>=1498 and id <= 1537  or id>=1598 and id <= 1607 or id>=1668 and id <= 1697  or id>=1758 and id <= 1787'
mycursor.execute(sql)
match_data = mycursor.fetchall()
print(match_data[0])
len([m for m in match_data if m[3]=='BLACK']) / len(match_data)

(1498, 'UCT', 'UCT', 'WHITE', 24, 40, 1.0, 100, 2.0, 3, 100, 2.0, '● ● ● ○ ○ ○ ○ ○ ● ● ● ● ○ ○ ○ ○ ● ○ ● ● ○ ○ ○ ○ ● ○ ● ○ ○ ● ○ ○ ● ● ● ● ○ ● ○ ○ ● ○ ● ○ ● ○ ○ ○ ● ○ ○ ○ ○ ● ○ ○ ● ○ ○ ○ ○ ○ ○ ○')

0.5636363636363636

In [10]:
sql = 'select *  from reversi where id>=1458 and id <= 1497  or id>=1588 and id <= 1597 or id>=1638 and id <= 1667  or id>=1728 and id <= 1757'
mycursor.execute(sql)
match_data = mycursor.fetchall()
print(match_data[0])
len([m for m in match_data if m[3]=='BLACK']) / len(match_data)

(1458, 'UCT', 'UCT', 'BLACK', 39, 25, 1.0, 100, 2.0, 1, 100, 20.0, '○ ● ● ● ● ● ● ● ○ ○ ● ○ ● ○ ● ● ○ ● ○ ● ○ ○ ● ● ○ ● ● ○ ○ ○ ● ● ○ ● ○ ● ● ○ ● ● ○ ● ● ○ ○ ○ ● ● ○ ● ○ ○ ○ ○ ● ● ● ● ● ● ● ● ● ●')

0.4909090909090909

In [58]:
sql = 'select *  from reversi where id>=1538 and id <= 1577'
mycursor.execute(sql)
match_data = mycursor.fetchall()
print(match_data[0])
len([m for m in match_data if m[3]=='BLACK']) / len(match_data)

(1538, 'UCT', 'UCT', 'WHITE', 14, 50, 1.0, 100, 2.0, 1, 100, 2.0, '● ○ ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ○ ○ ○ ○ ● ● ○ ● ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ○ ● ● ○ ○ ● ○ ○ ○ ● ○ ○ ● ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○')

0.4

In [16]:
sql = 'select *  from reversi where id>=1155 and id <= 1254'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [17]:
len([m for m in match_data if m[3]=='BLACK'])

42