In [19]:
import mysql.connector
import numpy as np

In [20]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    passwd="123456",
    database="reversi"
)
mycursor = mydb.cursor()

In [21]:
sql = 'select *  from reversi where id>=2 and id <= 101'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [22]:
match_data[0]

(2,
 'UCT',
 'GREEDY_MINPOS',
 'WHITE',
 24,
 40,
 1.0,
 100,
 2.0,
 0,
 0,
 0.0,
 '○ ○ ○ ○ ● ● ● ● ○ ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ● ● ● ● ● ○ ● ○ ○ ● ● ○ ● ○ ● ○ ● ○ ● ○ ○ ○ ○ ● ● ● ● ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ○ ○')

In [24]:
for i in range(8):
    print(match_data[0][-1].split(' ')[i*8:i*8+8])

['○', '○', '○', '○', '●', '●', '●', '●']
['○', '○', '○', '○', '○', '○', '○', '●']
['○', '○', '○', '●', '●', '●', '●', '●']
['○', '●', '○', '○', '●', '●', '○', '●']
['○', '●', '○', '●', '○', '●', '○', '○']
['○', '○', '●', '●', '●', '●', '○', '○']
['○', '○', '●', '●', '○', '○', '○', '○']
['○', '○', '●', '○', '○', '○', '○', '○']

In [26]:
len([m for m in match_data if m[3]=='BLACK']) / len(match_data)

0.88

In [31]:
sql = 'select *  from reversi where id>=1275 and id <= 1307'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [32]:
match_data[0]

(1275,
 'UCT',
 'UCT_EXPERT',
 'WHITE',
 21,
 43,
 1.0,
 100,
 2.0,
 1,
 100,
 2.0,
 '● ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ● ● ○ ○ ○ ○ ○ ○ ● ○ ○ ● ○ ○ ○ ○ ● ○ ○ ○ ● ○ ○ ○ ● ● ● ○ ○ ● ● ○ ● ● ● ● ● ● ●')

In [33]:
len([m for m in match_data if m[3]=='WHITE']) / len(match_data)

0.8181818181818182

In [34]:
sql = 'select *  from reversi where id>=1308 and id <= 1337'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [35]:
match_data[0]

(1308,
 'GREEDY_MAXSCORE',
 'UCT_EXPERT',
 'WHITE',
 11,
 53,
 1.0,
 100,
 2.0,
 1,
 100,
 2.0,
 '○ ○ ○ ○ ○ ○ ● ○ ○ ○ ● ○ ○ ○ ● ● ○ ○ ● ● ● ○ ○ ● ○ ○ ○ ● ● ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ● ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○')

In [36]:
len([m for m in match_data if m[3]=='WHITE']) / len(match_data)

0.8666666666666667

In [12]:
sql = 'select *  from reversi where id>=955 and id <= 1054'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [13]:
len([m for m in match_data if m[3]=='BLACK'])

24

In [14]:
sql = 'select *  from reversi where id>=1055 and id <= 1154'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [15]:
len([m for m in match_data if m[3]=='BLACK'])

44

In [16]:
sql = 'select *  from reversi where id>=1155 and id <= 1254'
mycursor.execute(sql)
match_data = mycursor.fetchall()

In [17]:
len([m for m in match_data if m[3]=='BLACK'])

42